# conditional statement
 type casting,
 user input,
 if statement,
 elif statement,
 multiple if statement,
 nested if statement

# Type Casting

In [7]:
# int,float, str, bool 
marks=95

In [8]:
print(type(marks))

<class 'int'>

SyntaxError: invalid syntax (3710155880.py, line 1)

In [9]:
float_marks=float(marks)                                       
float_marks

95.0

In [10]:
percentage= 85.23          
type(percentage)

float

In [11]:
int_percentage =int(percentage)          
int_percentage

85

# string concatenation 
   joining of two string together!

In [12]:
fname="mehwish" 
lname="kanwal"

In [13]:
fname+lname

'mehwishkanwal'

In [17]:
"pakistan"+"zindabad"

'pakistanzindabad'

In [15]:
'asad'+ str(45)

'asad45'

In [2]:
name = input('enter your name')  
y_o_b = input('enter your year of birth')  
# year of birth although a integer value 
# but due to console input it will be assiged as string value 



print("your name is" +name+"and your year of birth is"+ y_o_b)  

# "your name is Ali ang your year of birth is 2000"

enter your nameAsad
enter your year of birth2000
your name isAsadand your year of birth is2000

In [3]:
student_name=input("enter your name") 
student_age= input("enter your age")

enter your namehasan
enter your age35

In [4]:
student_age+ 10

TypeError: can only concatenate str (not "int") to str

In [5]:
student_name =input("enter your name") 
student_age= int(input("enter your age"))

enter your nameFahad
enter your age40

In [10]:
student_age+10
# int       int

20

In [12]:
student_age =int(float(input("enter your age")))# 40.5

enter your age40.5

In [13]:
student_age

40.5

In [7]:
student_name = input("enter your name")
student_age =int(input("enter your age"))   

print("your name is"+student_name+" and your year of birth is "+student_age)

enter your namenasir
enter your age32

TypeError: can only concatenate str (not "int") to str

In [9]:
student_name =input("enter your name") 
student_age =int(input("enter your age"))  

print("your name is "+student_name+" and your year of birth is "+str(student_age))   )

SyntaxError: unmatched ')' (3147767646.py, line 4)

In [10]:
student_name =input("enter your name")  
student_age =int(input("enter your age")) 

print("your nameis"+student_name+" and your year of birth is"+str(student_age))

enter your nameshahid
enter your age34
your nameisshahid and your year of birth is34

# string formation 
 format(value1,value2...) ,
 it is easier,simple than concatenation,
  it doesnot need type casting